body {
  padding: 20px;
  text-align: center;
}

table {
   margin: auto;
   text-align: left;
   border-spacing: 10px;
   border-collapse: separate;
}

th, td {
  font-size: 30px;
}

tr {
  cursor: pointer;
}

h1 {
  font-size: 75px;
}

p, ul, li {
  font-size: 25px;
}